<div class="row">
    <h1 class="title">Work Experience</h1>
    <div class="col-lg-1"> 
    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3> Research and development |</h3>  <h3> 2022</h3> <img src="../../../assets/Empresa.jpg" class="empresa">
            </li>
                <h6>NEOCYL S.R.L - Córdoba, Argentina</h6>
            <p>
               Developing new products, processes or services, or improving those products that already exist.
            </p>
        </ul>
        <ul>
            <li>
                <h3> Student assistant |</h3>  <h3> 2021</h3> <img src="../../../assets/FCQ.jpg" class="empresa">
            </li>
                <h6>Department of organic chemistry, UNC</h6>
            
        </ul>
        <ul>
            <li>
                <h3> Rental Technician |</h3>  <h3> 2019-2020</h3> <img src="../../../assets/Heavenly.png" class="empresa">
            </li>
                <h6>Heavenly Resort. South Lake Tahoe, CA, USA</h6>
            <p>
                Responsible for outfitting guests with rental equipment and explaining its safe use.
            </p>
        </ul>
        <ul>
            <li>
                <h3> Student assistant |</h3>  <h3> 2019</h3> <img src="../../../assets/FCQ.jpg" class="empresa">
            </li>
                <h6>Department of biological chemistry, UNC</h6>
            
        </ul>
    </div>
</div>