<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="90"
      [radius]="80"
      [title]=" 'HTML' "
      [titleColor]="'beige'"
    [titleFontSize]="'1em'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'beige'"
      [innerStrokeColor]="'#a1a1a1'"
      [animation]="true"
      [animationDuration]="300"
      [showSubtitle]="false"
      [showUnits]="false"
      
    
    
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="85"
      [radius]="80"
      [title]=" 'CSS' "
      [titleColor]="'beige'"
    [titleFontSize]="'1em'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'beige'"
      [innerStrokeColor]="'#a1a1a1'"
      [animation]="true"
      [animationDuration]="300"
      [showSubtitle]="false"
      [showUnits]="false"
    
    
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="70"
      [radius]="80"
      [title]=" 'BOOTSTRAP' "
      [titleColor]="'beige'"
    [titleFontSize]="'1em'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'beige'"
      [innerStrokeColor]="'#a1a1a1'"
      [animation]="true"
      [animationDuration]="300"
      [showSubtitle]="false"
      [showUnits]="false"
    
    
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="100"
      [radius]="80"
      [title]=" 'Teamwork' "
      [titleColor]="'beige'"
    [titleFontSize]="'1em'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'beige'"
      [innerStrokeColor]="'#a1a1a1'"
      [animation]="true"
      [animationDuration]="300"
      [showSubtitle]="false"
      [showUnits]="false"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
    [percent]="87"
    [radius]="80"
    [title]=" 'Leadership' "
    [titleColor]="'beige'"
  [titleFontSize]="'1em'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'beige'"
    [innerStrokeColor]="'#a1a1a1'"
    [animation]="true"
    [animationDuration]="300"
    [showSubtitle]="false"
    [showUnits]="false"
  ></circle-progress>
  </div>
  
    <h1>Languages</h1>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
    [percent]="100"
    [radius]="80"
    [title]=" 'Spanish (native)' "
    [titleColor]="'beige'"
  [titleFontSize]="'1em'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'beige'"
    [innerStrokeColor]="'#a1a1a1'"
    [animation]="true"
    [animationDuration]="300"
    [showSubtitle]="false"
    [showUnits]="false"
  
  
  ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
    [percent]="90"
    [radius]="80"
    [title]=" 'English' "
    [titleColor]="'beige'"
  [titleFontSize]="'1em'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'beige'"
    [innerStrokeColor]="'#a1a1a1'"
    [animation]="true"
    [animationDuration]="300"
    [showSubtitle]="false"
    [showUnits]="false"
  ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="80"
  [title]=" 'Italian' "
  [titleColor]="'beige'"
[titleFontSize]="'1em'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'beige'"
  [innerStrokeColor]="'#a1a1a1'"
  [animation]="true"
  [animationDuration]="300"
  [showSubtitle]="false"
  [showUnits]="false"
></circle-progress>
</div>
</div>