<div class="row">
    <h1 class="education">Education</h1>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Degree of Licentiate in Biotechnology |</h3> - <h3>2017-2021</h3>
            </li>
            <h6>National University of Córdoba, Faculty of Chemical Sciences.</h6>
        </ul>

        <ul>
            <li>
                <h3>Italian Language - Level B2 |</h3> - <h3>2015-2018</h3>
            </li>
            <h6>Italian Cultural Institute of Córdoba</h6>
        </ul>

        <ul>
            <li>
                <h3>First Certificate in English (FCE) |</h3> - <h3>2017</h3>
            </li>
            <h6>Cambridge English</h6>
        </ul>
       
        <h2>COURSES</h2> 
        <h3 class="years">2022</h3>
        <ul>
            <li>
                <h3>Front-end web development</h3> 
            </li>
            <h6>Centro Universitario Vicente López and Plataforma 5</h6>
        </ul>

        <ul>
            <li>
                <h3>Sales tactics and strategies</h3>
            </li>
            <h6>National University of Córdoba, Faculty of Economic Sciences</h6>
        </ul>

        <ul>
            <li>
                <h3>Foreign Trade and International Marketing</h3>
            </li>
            <h6>National University of Córdoba, Faculty of Economic Sciences</h6>
        </ul>
<h3 class="years">2021</h3>
        <ul>
            <li>
                <h3>BIO Hackathon CÓRDOBA + SANTA FE</h3>
            </li>
            <h6>Ministry of Science and Technology of Córdoba</h6>
        </ul>

        <ul>
            <li>
                <h3>Business Communication: English for the Workplace</h3>
            </li>
            <h6>National University of Córdoba, ISCE and CACEC
            </h6>
        </ul>

        <ul>
            <li>
                <h3>Ideatón en Biotecnología</h3>
            </li>
            <h6>Ministry of Science and Technology of Córdoba
            </h6>
        </ul>

        <ul>
            <li>
                <h3>3D Bioprinting - Introductory Course</h3>
            </li>
            <h6>LIFE SI Company</h6>
        </ul>
        <h3 class="years">2019</h3>

        <ul>
            <li>
                <h3>Italian Conversation Course</h3>
            </li>
            <h6>Dante Alighieri Academyy</h6>
        </ul>
    </div>
</div>