<div class="row">
    <h1 class="title2">Completed Projects</h1>
    <div class="contenedor">
    <div class="col-sm-3  parte2">
        <h3>My portfolio</h3>
        <p> <br>Argentina Programa 2022-2023 </p>
        <a href="">
        <img src="../../../assets/APPortfolio.png" alt="" class="img-fluid img-proyecto" >
        </a>
</div>
        <div class="col-sm-3  parte1">
            <h3>Portfolio</h3>
            <p>In this portfolio you will find three different games | 2022</p>
            <a href="https://portfolioanabella.netlify.app/" target="_blank">
            <img src="../../../assets/P5.png" alt="" class="img-fluid img-proyecto" >
        </a>
        </div>
        

        <div class="col-sm-3 parte2">
            <h3>Web page with Bootsrap</h3>
            <p> <br> 2022</p>
            <a href="https://anabellaalla.github.io/TP-integrador-Bootstrap/" target="_blank">
            <img src="../../../assets/Codo a Codo.png" alt="" class="img-fluid img-proyecto" >
        </a>
        </div>
        
        <div class="col-sm-3  parte2">
            <h3>"Shopping" using JS</h3>
            <p> <br> 2022</p>
            <a href="https://anabellaalla.github.io/ComprarTickets/" target="_blank">
            <img src="../../../assets/shopping.png" alt="" class="img-fluid img-proyecto" >
        </a>
        </div>
    </div>
</div>